/* Basic CSS for the navigation bar */
.nav {
    background-color: #383838;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: Left; 
    -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; 
}

.nav h1{
  margin: 5px;
  padding: 5px;
  text-decoration: solid;
  color: rgb(242, 247, 202);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li input{
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 8px;
  padding: 5px 16px;
  text-decoration: none;
}

.nav li button{
  display: block;
  color: black;
  background-color: rgba(109, 170, 228, 0.829);
  text-align: center;
  margin: 8px;
  padding: 5px 8px;
  text-decoration: none;
}

.nav li button:hover{
  background-color: rgba(38, 136, 228, 0.829);
}

.nav li a:hover {
  background-color: #111;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; 
}
  
  
 body {
    font-family: Arial, sans-serif;
    background-image: url('images/beach.jpg');
    background-size: cover;
  }



  .social{
    float: left;
  }

  .social ul{
    list-style-type: none;
    padding: 0px;
    margin-top: 200px;
    overflow: hidden;
  }

  .social li img{
    height: 50px;
    width: 50px;
  }

  .text{
    float: left;
    margin-top: 15px;
  }

  .text-child{
    background-color: rgba(117, 204, 245, 0.705);
    margin-right: 60%;
    margin-left: 10%;
    padding: 15px 8px;
    -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; 
    min-width: 300px;
  }

  .text p{
    
    margin-top: 0;
    text-align: justify;
    font-size: 15px;
    text-decoration: none;
  }
  
  .text h1 {
    margin-left: 10%;
    margin-right: 63%;
    font-size: 72px;
    color: rgb(0, 0, 0);
  }

  .us{
    float: left;
    margin-top: 15px;
  }

  .us h1,
  .us h3 {
    margin-left: 10%;
    margin-right: 63%;
    color: rgb(0, 0, 0);
  }

  .us input,
  .us textarea {
    width: 90%;
    margin-bottom: 15px;
    padding: 8px;
  }
  .us button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
  }
  .us button:hover {
    background-color: #00b336;
  }

  .team{
    background-color: rgba(117, 204, 245, 0.705);
    margin-left: 10%;
    padding: 15px 8px;
    -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; 
    width: 950px;
    margin-top: 30px;
    min-height: 100px;
  }

  .tab{
    border-color: #000000;
    border-style: solid;
    float: left;
    text-align: center;
    padding: 5px;
    margin: 5px;
    width: 125px;
  }

  .tab p{
    font-size: 10px;
  }

  .ouput {
    margin-top: 30px;
    float: left;
    background-color: rgba(117, 204, 245, 0.705);
    padding: 5px;
    -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; 
  }